# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuição / pacotes
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
.installed.cfg
lib/
lib64/
__pycache__/

# Arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos de IDEs
.vscode/
.idea/

# Arquivos de ambiente virtual
.venv/